extends layout

block content
  for item in articles
    article.media.box
      figure.media-left
        p.image.is-64x64
          img(src=item.urlToImage)
      .media-content
        .content
          a.title(href=item.url)=item.title
          p
            span=item.description
          p
            strong Source: #{item.source}
            br
            small Author: #{item.author}
            br
            small Time: #{item.publishedAt}
      form.media-right(method='post')
        input(type='hidden', name='_method', value='delete')
        button.delete
    .columns
      .column.is-one-third
        form(method='post')
          input(type='hidden', name='_method', value='put')
          .field
            label.label Title
            .control
              input.input(type='text', placeholder='Title', name="title", value=item.title)
          .field
            label.label Description
            .control
              textarea.textarea(placeholder='Description', name="description")=item.description
          .field
            .control
              button.button.is-primary(type='submit') Edit